.detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    border: rgba(0, 0, 0, 0.5) solid 1px;
    border-radius: 3%;
    background-color: black;
    color: aliceblue;
    opacity: 0.8;
    width: 50rem;
    /* padding-top: 10rem; */
}

.detail-types {
    display: flex;
}

/* .detail-container :hover {
    transform: scale(1.1)
} */



.tittle-image-pos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tittle-image-pos .detail-tittle {
    text-transform: capitalize;
    /* background-color: aliceblue; */
    size: 1vh;
    font-weight: 1000;
    height: 1rem;
    text-align: center;
}

.tittle-image-pos .detail-image {
    border-radius: 5%;
    padding: 3rem;
    /* padding-top: 4rem; */
    margin: 0 auto;
    max-block-size: 30rem;
    max-width: 30rem;
}

.detail-data {
    display: flex;
    flex-direction: column;
    font-weight: 1000;
}


/* <div className="tittle-image-pos">
        <div className="detail-tittle">
          <p className="pokemon-name">{pokemon.name}</p>
          <p className="pokemon-id">ID: {pokemon.idPoke ? pokemon.idPoke : pokemon.id}</p>
        </div>
        <div className='detail-image'>
          <img src={pokemon.img} alt={`${pokemon.name}`} />

        </div>
      </div> */