.detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    border: rgba(0, 0, 0, 0.5) solid 1px;
    border-radius: 3%;
    opacity: 0.8;
    width: 50rem;
    /* padding-top: 10rem; */
}

.detail-types {
    display: flex;
}

/* .detail-container :hover {
    transform: scale(1.1)
} */

.detail-tittle {
    text-transform: capitalize;
    size: 1vh;
    font-weight: 1000;
    height: 1rem;
    text-align: center;
}

.detail-image {
    padding-top: 4rem;
}

.detail-data {
    display: flex;
    flex-direction: column;
    font-weight: 1000;
}

.tittle-image-pos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}