.detalles {
    height: 100vh;
    padding-top: 100px;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

/* .detalles .otro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} */

.detailImage {
    max-width: 50%;
}



/* .DetailImage {
    display: flex;
    justify-content: center;
    max-width: 50%;
} */