@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Comfortaa', cursive;
  font-family: 'Dosis', sans-serif;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}


body {
  /* background-image: linear-gradient(to right bottom, #37796C, #000000); */
  background: rgb(55, 121, 108);
  background: radial-gradient(circle, rgba(55, 121, 108, 0.9360119047619048) 75%, rgba(0, 0, 0, 1) 100%);
}

.Links {
  text-decoration: inherit;
  color: inherit;
}

/* .genericButton {
  background-color: #231E1F;
  padding: 6px 20px;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 500;
}

.genericButton:hover {
  background-color: #797979;
  color: #231E1F;
} */

.selector {
  /* min-width: 130px; */
  height: 40px;
  border-radius: 5px;
}

.realodButton {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #343a40;
}

.realodButton:hover {
  background-color: #c4c4c4;
  color: #8d7575
}

.generic-input {
  border: none;
  border-radius: 3%;
  max-width: 10rem;
  font-size: calc(3px + 2vmin);
  color: #282c34;
}

/* .generic-input:hover{
  transform:
} */

.header .logo img {
  width: 5em;
  height: 4em;
  padding-left: -40%;
  padding-top: 5%;
}

.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header ul li {
  list-style: none;
  margin-left: 5px;
}

.header ul li a {
  text-decoration: none;
  padding: 6px 20px;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 500;
}

.header ul li a:hover {
  cursor: pointer;
  background-color: #797979;
}