/* .form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
} */



/* .form-types {
  display: flex;
  margin: 0 auto
} */

.form-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: -2rem auto;
  padding-top: 1rem;
  padding-bottom: 4rem;
  /* flex-wrap: wrap;
  margin: 0 auto; */
  /* justify-content: center; */
}

.form-submit {
  background-color: #231E1F;
  padding: 6px 20px;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 500;
}

.form-submit :hover {
  background-color: #797979;
}

.form-container {
  font-weight: 1000;
  color: rgba(165, 160, 160, 0.993);
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
  position: absolute;
  width: 30%;
  height: 100vh;
  border-right: 1px solid var(--border);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 30px 0px;
  border-radius: 3%;
  overflow-y: scroll;
  scrollbar-color: rgb(233, 233, 233) rgb(255, 255, 255);
}

/* .form-container :after {
  position: absolute;
  top: 0px;
  left: 300px;
  width: calc(100% - 300px);
  height: 100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  transition: width 200ms ease 0s, left 200ms ease 0s, right 200ms ease 0s;
} */