label {
  /* padding: 4px 6px; */
  line-height: 190%;
  outline-style: none;
  transition: all 0.6s;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-tittle {
  display: flex;

}

.form-types {
  background-color: aqua;
  margin: 0 auto
}

.form-layout {
  display: grid;
  place-items: center;
}

.errors {}