@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

// font-family: 'Comfortaa', cursive;
//     font-family: 'Dosis', sans-serif;
$font: 'Dosis', sans-serif;
