 .realodButton {
     min-width: 130px;
     height: 40px;
     color: #fff;
     padding: 5px 10px;
     font-weight: bold;
     cursor: pointer;
     transition: all 0.3s ease;
     display: inline-block;
     outline: none;
     border-radius: 5px;
     border: none;
     background-color: #343a40;
 }

 .realodButton :hover {
     background-color: #fcfcfc;
 }

 .titulo {
     display: grid;
     place-items: center;
     padding-top: 10%;
 }

 .filters {
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
 }

 .pokePosition {
     display: flex;
     flex-flow: wrap
 }