/* .reload-container {
    margin: 0 6rem;
} */



.titulo {
    display: grid;
    place-items: center;
    padding-top: 6%;
}

.filters {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}

.filters .searchBar {
    padding-top: 3rem;
}

.ContainerPrincipial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
}

.pokePosition {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttonPaginate {
    display: flex;
    justify-content: center;
}

.buttonPaginate .divPaginado {
    position: relative;
    right: calc(6vw);
}

.filters-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}