 .realodButton {
     min-width: 130px;
     height: 40px;
     color: #fff;
     padding: 5px 10px;
     font-weight: bold;
     cursor: pointer;
     transition: all 0.3s ease;
     display: inline-block;
     outline: none;
     border-radius: 5px;
     border: none;
     background-color: #343a40;
 }

 .realodButton:hover {
     background-color: #c4c4c4;
     color: #8d7575
 }

 .titulo {
     display: grid;
     place-items: center;
     padding-top: 6%;
 }

 .filters {
     padding-top: 30px;
     display: flex;
     justify-content: space-around;
 }

 .filters .searchBar {
     padding-top: 3rem;
 }

 .ContainerPrincipial {
     padding-top: 3rem;
     width: 100%;
     height: 100vh;
 }

 .pokePosition {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
 }

 .buttonPaginate {
     display: flex;
     justify-content: center;


 }

 .buttonPaginate .botoncito {
     position: relative;
     right: calc(32vw);
 }

 .buttonPaginate .divPaginado {
     position: relative;
     right: calc(6vw);
 }