.card {
  border-radius: 3%;
  opacity: 0.7;
  background-color: rgb(55, 121, 108);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.45);
  margin: 15px;
  width: 15rem;
  height: 17rem;
  text-decoration: none;
  text-align: center;
  &:hover {
    transform: scale(1.1);
    opacity: 1;
  }
  &__tittle {
    text-transform: capitalize;
    font-weight: 1000;
    height: 1rem;
  }
  &__types {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
  &__image {
    max-height: 24vh;
    max-width: 28vh;
    /* height: 30vh; */
    margin: 0 auto;
    opacity: 1.5;
    border-radius: 5%;
    /* display: inline-block; */
  }
}
