:root {
  --nav--background--color: #282c34;
  --background--color: rgb(55, 121, 108);
  --text--color: #fff;
  --button--background--color: #343a40;
  --button--background--color--disabled: #4d565f;
  --button--background--color--hover: #474747;
}
