.header {
  z-index: 2;
  position: fixed;
  height: 45px;
  top: 25px;
  width: 100%;
  margin-top: -30px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #231E1F;
  -webkit-box-shadow: 0px 0px 0px 10px rgba(33, 33, 33, 0.35);
  -moz-box-shadow: 0px 10px 10px 0px rgba(33, 33, 33, 0.35);
  box-shadow: 10px 10px 40px 10px rgba(33, 33, 33, 0.35);
}

.navBar {
  /* background-color: #e9002f; */
  position: relative;
  height: 3rem;
}

.header .logo img {
  width: 5em;
  height: 4em;
  padding-left: -40%;
  padding-top: 5%;
}

.header .ulnkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .ulnkContainer .liContainer {
  list-style: none;
  margin-left: 5px;
}

.header .ulnkContainer .liContainer .aContainer {
  background-color: #343a40;
  text-decoration: none;
  padding: 6px 20px;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 500;
}

.header .ulnkContainer .liContainer .aContainer:hover {
  cursor: pointer;
  background-color: #797979;
}